doctype
html
  head
    title LaTreeX
    block css
      link(rel='stylesheet',type='text/css',href='#{basepath}css/latreex.css')
    block js
      script(type='text/javascript',src='http://code.jquery.com/jquery-1.7.2.min.js')
  body
    block body