@import 'reset.css'

body
  font-size 13pt
  font-family sans-serif
  padding 30px
  color #660000

h1
  margin-bottom 1.5em
  font-weight bold
  font-size 120%

.clearfix
  clear both

.left 
  float left

.right
  float right

.rowform
  ul
    display inline-block
    margin-right 1.5em
  li
    margin-bottom .2em
  label
    display inline-block
    text-align right
    margin-right 1ex
  label.left
    width 14em

textarea
  font-family monospace
  margin-top 1em

button
  margin 0 1em

#space
  margin-bottom 1.5em

#buttons
  margin-top 1.5em

#previewImage
  margin-top 1em
  text-align center