@import 'reset.css'
@import 'jquery-ui.min.css'

border-radius()
  -webkit-border-radius arguments
  -moz-border-radius arguments
  border-radius arguments

opacity(n)
  opacity n
  filter unquote('progid:DXImageTransform.Microsoft.Alpha(Opacity=' + round(n * 100) + ')')

transform-scale(n)
  -ms-transform scale(n,n)
  -webkit-transform scale(n,n)
  -ms-transform-origin 0
  -webkit-transform-origin 0 0
  transform scale(n,n)

body
  font-size 13pt
  font-family Helvetica, Arial, sans-serif
  padding 30px
  color #660000

h1
  margin-bottom 1em
  font-weight bold
  font-size 120%

em
  font-style italic

b
  font-weight bold

code
  font-family monospace

input[type='checkbox'], input[type='radio']
  vertical-align middle

label
  margin 0
  padding 0
  vertical-align middle

textarea
  font-family monospace
  margin-top 1em

.clearfix
  clear both

.hidden
  visibility hidden

.left
  float left

.right
  float right

.tooltip
  position relative
  top 1px
  margin-left 5px
  &:hover
    cursor pointer

.ui-tooltip
  max-width 400px
  background-color lightgray

.ui-tooltip-content
  font-size 90%

.rowform
  ul
    display inline-block
    margin-right 1.5em
  li
    margin-bottom .2em
  li.checkbox
    margin-top 1ex
    margin-bottom 1ex
  label
    margin-right 0.5ex
    span
      vertical-align middle
  button
    margin-bottom 1em

#space, #direction
  text-align right
  width 20em
  input[type='checkbox'], input[type='radio']
    margin 0 0 0 1.25ex

#style, #font
  width 11em
  input[type='checkbox'], input[type='radio']
    margin 0 1.25ex 0 0

#space
  margin-bottom 1em
  .heading
    text-align right
  .wide
    width 12em
  label
    display inline-block
    text-align right
    margin-right 1ex

#font
  max-width 11em

#fontopt ul
  margin-bottom 1.25ex

#fontopt div
  margin-top 1ex
  display none

#fontoptToggle
  margin-bottom 0
  a
    text-decoration none

#fontselect
  margin-bottom 1em

#buttons
  margin-top 0.5ex
  button
    margin 0 1em

#previewimage
  margin-top 1em
  text-align center
  img
    max-width 100%

#copyarea
  position fixed
  top -1000px
  left -1000px
