@import 'reset.css'

body
  font-size 13pt
  font-family sans-serif
  padding 30px
  color #660000

h1
  margin-bottom 1.5em
  font-weight bold
  font-size 120%

.clearfix
  clear both

.rowform
  float left
  ul
    display inline-block
    margin-right 1.5em
  li
    margin-bottom .2em
  li.spaced
    margin-top 1em
  label
    display inline-block
    text-align right
    margin-right 1ex
  label.left
    width 14em

textarea
  font-family monospace
  float left
